{% block style %}
	<link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}

<footer>
	<div>
		<p>&copy;
			{{ "now"|date("Y") }}
			RewardMyKids. Tous droits réservés.</p>
	</div>
</footer>
