{% block style %}
    <link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}

<footer>
    <div>
        <p>&copy; {{ "now"|date("Y") }} RewardMyKids. Tous droits réservés.</p> {# "now" = date et heure actuelle, | pour appliquer un filtre, date("Y") = filtre pour afficher juste l'année en cours #}
    </div>
</footer>
