main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 8% 4%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
    border: 2px solid #3498DB;
}


h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3498DB;
    margin-bottom: 20px;
}

h3 {
    color: #333;
}


.form-container ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

.form-container li {
    background-color: #ECF0F1;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #3498DB;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 1.1em;
    color: #333;
    text-align: left;
}

input,
textarea {
    padding: 10px;
    border: 2px solid #3498DB;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
}


.modif-btn {
    padding: 12px;
    background-color: #2ECC71;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modif-btn:hover {
    background-color: #27AE60;
}


.delete-btn {
    padding: 12px;
    background-color: #E74C3C;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #C0392B;
}


.back-button {
    text-align: center;
    margin-top: 30px;
}


.btn {
    padding: 10px 20px;
    background-color: #3498DB;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.btn:hover {
    background-color: #2980b9
}

.error-message {
    color: #E74C3C;
    font-size: 0.9em;
}

@media (max-width: 600px) {
    .form-container {
        max-width: 90%;
    }

    .btn {
        padding: 10px 15px;
        font-size: 0.8em;
        width: 100%;
    }

}