.dashboard-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    text-align: center;
}

.dashboard-section {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #3498DB;
}


h1,
h2,
h3,
h4 {
    color: #3498DB;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}


.child-item {
    background-color: #ECF0F1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #3498DB;
}

.child-profile {
    text-align: left;
}

.child-points,
.child-behavior {
    font-size: 1.1em;
    margin-bottom: 10px;
}


.behavior-form {
    margin-top: 10px;
}


.validate-btn,
.complete-quest-btn,
.purchase-reward-btn {
    background-color: #3498DB;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.3s ease;
}

.validate-btn:hover,
.complete-quest-btn:hover,
.purchase-reward-btn:hover {
    background-color: #2980b9;
}

.a-to-btn {
    display: inline-block;
    background-color: #3498DB;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.a-to-btn:hover {
    background-color: #2980b9;
}


.increase-btn {
    background-color: #2ECC71;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.increase-btn:hover {
    background-color: #27ae60;
}

.decrease-btn {
    background-color: #E74C3C;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.decrease-btn:hover {
    background-color: #C0392B;
}


.error-message {
    color: #e74c3c;
    margin-top: 10px;
    font-size: 0.9em;
}


.quests-section,
.rewards-section {
    margin-top: 20px;
}

.dashboard-section ul {
    list-style: none;
}

.completed-quest,
.incomplete-quest,
.purchased-reward,
.available-reward {
    padding: 10px;
    border: 1px solid #3498DB;
    border-radius: 5px;
    background-color: #D0D3D4;
    margin-bottom: 10px;
}


.add-child-container {
    margin-bottom: 20px;
}


.child-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.quest-buttons,
.reward-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.empty-message {
    font-size: 1.1em;
    margin-top: 10px;
    color: #7F8C8D;
}

@media (max-width: 600px) {

    .child-header,
    .quest-buttons,
    .reward-buttons {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}