main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
}

section {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #3498DB;
}


h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #3498DB;
}


ul.reward-list {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article {
    background-color: #ECF0F1;
    border: 2px solid #3498DB;
    border-radius: 10px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
}


article:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #3498DB;
}


p.reward-description {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}


.back-button {
    text-align: center;
    margin-top: 30px;
}


.btn {
    padding: 10px 20px;
    background-color: #3498DB;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.btn:hover {
    background-color: #2980b9
}


@media (max-width: 600px) {
    section {
        width: 90%;
    }

    .btn {
        padding: 10px 15px;
        font-size: 0.8em;
        width: 100%;
    }
}