{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/addChild.css">
{% endblock %}

{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block main %}
	<main>
		<section class="form-container">
			<h1>Ajouter un enfant</h2>

			<form method="post" action="/addChild">
				<div>
					<label for="firstname">Prénom de l'enfant</label>
					<input id="firstname" type="text" name="firstname" required>
					{% if error %}
						<p class="error">{{ error.errors.firstname.message }}</p>
					{% endif %}
				</div>

				<div>
					<label for="points">Nombre de points</label>
					<input type="number" name="points" id="points" value="0" min="0" required>
				</div>

				<div>
					<button type="submit">Enregistrer</button>
				</div>
			</form>
			<div class="back-button">
				<a href="/guideDashboard" class="btn">Retour au dashboard du guide</a>
			</div>
		</section>
	</main>
{% endblock %}
