{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	<main>
		<section class="home">
			<h1>Découvrez
				<strong>RewardMyKids</strong>
			</h1>
			<p class="home-intro">Simplifiez la gestion des tâches familiales et motivez vos enfants !</p>

			<p class="home-description">
				<strong>RewardMyKids</strong>
				est une application innovante conçue pour aider les parents à gérer les tâches ménagères et le comportement des enfants de manière simple, ludique et structurée. Grâce à une approche numérique moderne,
				<strong>RewardMyKids</strong>
				transforme les responsabilités quotidiennes en une expérience engageante, motivante et gratifiante pour toute la famille.
			</p>

			<h2>Pourquoi choisir
				<strong>RewardMyKids</strong>
				?</h2>
			<p class="home-description">
				Les méthodes traditionnelles de gestion des tâches et du comportement peuvent être chronophages et peu efficaces. Les enfants ont souvent besoin d’un cadre plus clair et motivant pour comprendre leurs responsabilités et être récompensés de manière cohérente. C’est là qu’intervient
				<strong>RewardMyKids</strong>, une solution qui automatise cette gestion et valorise les efforts des enfants au quotidien.
			</p>

			<h2>Une approche ludique et interactive !</h2>
			<p class="home-description">Avec
				<strong>RewardMyKids</strong>, les enfants peuvent :</p>
			<ul class="home-list">
				<li>Consulter facilement leurs tâches via une interface intuitive.</li>
				<li>Accumuler des points en réalisant leurs missions et en adoptant de bons comportements.</li>
				<li>Échanger leurs points contre des récompenses personnalisées créées par les parents.</li>
			</ul>

			<p class="home-description">Les parents, quant à eux, peuvent :</p>
			<ul class="home-list">
				<li>Créer et gérer des listes de tâches adaptées à chaque enfant.</li>
				<li>Suivre les progrès de manière simple grâce à un tableau de bord dédié.</li>
				<li>Récompenser les comportements positifs avec des points supplémentaires.</li>
			</ul>

			<h2>Des avantages pour toute la famille !</h2>
			<p class="home-description">
				<strong>RewardMyKids</strong>
				permet de simplifier la vie quotidienne des parents tout en motivant les enfants à prendre part activement aux tâches familiales. L’application transforme la gestion des tâches en une expérience positive et collaborative, renforçant ainsi les liens familiaux.
			</p>

			<p class="home-cta">Rejoignez-nous dès aujourd'hui et faites de la gestion des tâches familiales une activité amusante et gratifiante avec
				<strong>RewardMyKids</strong>
				!</p>
		</section>
	</main>
{% endblock %}
